@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background-grey-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --black-color: #000000;
  --black-opacity-color: rgba(255, 255, 255, 0.6);
  --background-active-button: #188ce8;
  --border-color: #ececec;
  --background-img-color: #c4c4c4;
  --social-icon-color: #afb1b8;
  --time: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --gra: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  display: block;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* .main-nav {
  display: flex;
  align-items: center;
justify-content: space-around;
} */
.list {
  list-style: none;
  text-decoration: none;
}

.logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  color: var(--black-color);
  font-size: 26px;
  line-height: 1.1923;
  text-decoration: none;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
}

.btn {
  min-width: 216px;
  height: 50px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  transition: background-color var(--time) var(--timing-function);
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--border-color);
}

.header__conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-size: 24px;
  line-height: 1.1666;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
  }
}

/*---------навігація сайту------------*/
.menu {
  display: flex;
}

.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    margin-right: auto;
  }
}

/* .header-nav .item {
  background-color: rgb(7, 250, 19);
} */
/* .header-nav .item:not( :last-child) {
  margin-right: 50px;
} */
/* .header-nav .item:last-child {
  margin-right: 0;
} */
@media screen and (min-width: 768px) {
  .menu {
    gap: 50px;
    margin-right: auto;
  }
}

/* .header-nav .item + .item {
  margin-left: 50px;
} */
@media screen and (min-width: 768px) {
  .menu__link {
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    position: relative;
    padding-bottom: 33px;
    transition: color var(--time) var(--timing-function);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .current {
    color: var(--accent-color);
  }
  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

/*-----авторизація навігації---------*/
.auth-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .auth-nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    text-decoration: none;
    flex-wrap: wrap;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    flex-direction: row;
  }
}

.auth-nav__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .auth-nav .auth-nav__item + .auth-nav__item {
    margin-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__item .auth-nav__link {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__item .auth-nav__link {
    margin-bottom: 0;
    margin-right: 40px;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__link {
    font-weight: 500;
    color: var(--primary-text-color);
    text-decoration: none;
    transition: color var(--time) var(--timing-function);
  }
  .auth-nav__link:hover, .auth-nav__link:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__icon-smartphone,
  .auth-nav__icon-envelope {
    fill: currentColor;
    margin-right: 10px;
  }
}

.menu-open {
  color: var(--title-text-color);
  background-color: #fff;
}
.menu-open:hover, .menu-open:focus {
  fill: var(--accent-color);
}

.menu-open__header-menu {
  display: flex;
  fill: currentColor;
}

.mob-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}

.menu-close {
  display: block;
  margin-left: auto;
}

.menu-list {
  margin-bottom: 306px;
}

.menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-list__link {
  color: #212121;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
}

.mob-phone__link {
  display: block;
  margin-bottom: 32px;
  color: #2196F3;
  font-family: Roboto;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.68px;
}

.mob-mailto__link {
  color: #757575;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.mob-soc {
  margin-top: 64px;
  display: flex;
}

.mob-soc_item::before {
  width: 1px;
  height: 22px;
  color: var(--title-text-color);
  background: rgba(33, 33, 33, 0.2);
}

.mob-soc_link {
  color: #2196F3;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 122.222% */
  letter-spacing: 0.36px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 100%;
  margin: auto;
  background-image: var(--gra), url(../../images/hero-bg-mobile.jpg);
  background-color: var(--background-img-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(gra), url(../../images/hero-bg-mobile2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--gra), url(../../images/hero-bg-tablet.jpg);
    background-color: var(--background-img-color);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(gra), url(../../images/hero-bg-tablet2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: var(--gra), url(../images/hero-bg-desktop.jpg);
    background-color: var(--background-img-color);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(gra), url(../../images/hero-bg-desktop2x.jpg);
  }
}

.container__hero-title {
  width: 290px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.6153;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}
@media screen and (min-width: 480px) {
  .container__hero-title {
    font-size: 26px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container__hero-title {
    width: 360px;
    margin: 0 auto 30px auto;
  }
}
@media screen and (min-width: 1200px) {
  .container__hero-title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
  }
}

.btn:hover,
.btn:focus {
  background: var(--background-active-button);
  color: var(--white-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 100%;
  min-height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.modal-close-close:focus, .modal-close-close:hover {
  fill: #188ce8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 15px;
}

.label-modal {
  font-size: 12px;
  font-size: 12px;
}

.input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.input-form {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  justify-content: center;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.input-form:focus, .input-form:hover {
  border-color: var(--accent-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-form:active, .input-form:hover, .input-form:focus {
  outline: 0;
  outline-offset: 0;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.input-form:focus + .modal-icon, .input-form:hover + .modal-icon {
  fill: var(--accent-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.coment-textaera {
  font-size: 12px;
}

.textarea-element {
  margin-bottom: 20px;
}

.label-textarea {
  width: 100%;
  height: 120px;
  display: block;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.01em;
  resize: none;
}
.label-textarea:hover, .label-textarea:focus {
  border-color: var(--accent-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label-textarea::-moz-placeholder {
  font-size: 12px;
}
.label-textarea::placeholder {
  font-size: 12px;
}
.label-textarea:active, .label-textarea:hover, .label-textarea:focus {
  outline: 0;
  outline-offset: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.lable-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 12px;
}

.lable-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .lable-text span {
  background-color: var(--accent-color);
  border: none;
  fill: var(--white-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-link {
  margin-left: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7142;
  color: var(--accent-color);
  position: relative;
}
.input-link::before {
  content: "";
  position: absolute;
  display: block;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
  left: 0px;
  bottom: 6px;
}

.btn-input {
  width: 200px;
  height: 50px;
  margin: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.btn-input:hover, .btn-input:focus {
  background-color: var(--background-active-button);
}

.modal-checkbox {
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.lable-checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--primary-text-color);
}

.input-span {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--accent-color);
}

.list-feauters__feauters-li {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .list-feauters__feauters-li {
    max-width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .list-feauters__feauters-li {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.list-feauters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--background-grey-color);
  border-radius: 4px;
  text-transform: uppercase;
  width: 100%;
  height: 120px;
}

.list-feauters__features {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.1428;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

.list-feauters__features-list {
  line-height: 1.7142;
  color: var(--primary-text-color);
}

.section-title {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section-title {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .container__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1666;
    color: var(--title-text-color);
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .list-li {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.list-li__title-box {
  position: relative;
}

.title-text {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.title-text__title-p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

.section-team {
  background-color: var(--background-grey-color);
}

.container__title-team {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 28px;
  line-height: 1.1785;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .container__title-team {
    font-size: 36px;
    line-height: 1.1666;
  }
}

.list-team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .list-team {
    flex-wrap: nowrap;
  }
}

.list-team__card {
  max-width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
@media screen and (min-width: 768px) {
  .list-team__card {
    max-width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .list-team__card {
    max-width: calc((100% - 90px) / 4);
  }
}

.list-team__photo {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .list-team__photo {
    max-width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .list-team__photo {
    max-width: calc((100% - 90px) / 4);
  }
}

.list-team__photo > img {
  max-width: 100%;
}

.card-description {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-description__team-list {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}

.card-description__list-p {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  color: var(--primary-text-color);
}

.social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.social-list__social-item {
  width: 44px;
  height: 44px;
}

.social-list__social-links {
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  color: var(--social-icon-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--time) var(--timing-function), color var(--time) var(--timing-function);
}
.social-list__social-links:hover, .social-list__social-links:focus {
  background-color: var(--accent-color);
}
.social-list__social-links:hover .social-list__social-icon, .social-list__social-links:focus .social-list__social-icon {
  fill: var(--white-color);
}

.social-list__social-icon {
  fill: currentColor;
}
.social-list__social-icon:hover, .social-list__social-icon:focus {
  fill: var(--white-color);
}

.section-clients__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 28px;
  line-height: 1.1785;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section-clients__title {
    font-size: 36px;
    line-height: 1.1666;
  }
}

.clients-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-list__client-item {
  max-width: 100%;
  height: 92px;
}
@media screen and (min-width: 480px) {
  .clients-list__client-item {
    max-width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients-list__client-item {
    max-width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__client-item {
    max-width: 100%;
  }
}

.clients-list__client-links {
  width: 210px;
  height: 92px;
  color: var(--social-icon-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color var(--time) var(--timing-function), color var(--time) var(--timing-function);
}
@media screen and (min-width: 768px) {
  .clients-list__client-links {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__client-links {
    width: 170px;
  }
}
.clients-list__client-links:hover, .clients-list__client-links:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.clients-list__client-links:hover .clients-list__client-icon, .clients-list__client-links:focus .clients-list__client-icon {
  color: var(--accent-color);
}

.clients-list__client-icon {
  fill: currentColor;
}
.clients-list__client-icon:hover, .clients-list__client-icon:focus {
  color: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
  text-decoration: none;
}

.container-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .container-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .container-footer {
    align-items: baseline;
    flex-wrap: nowrap;
  }
}

.container-footer__logo-link {
  margin-bottom: 28px;
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.1666;
  text-decoration: none;
  color: var(--white-color);
}
@media screen and (min-width: 1200px) {
  .container-footer__logo-link {
    font-size: 26px;
    line-height: 1.1923;
    display: block;
  }
}

.container-footer__logo-footer {
  font-size: 24px;
  line-height: 1.1666;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .container-footer__logo-footer {
    font-size: 26px;
    line-height: 1.1923;
  }
}

.address {
  list-style: none;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .address {
    display: block;
  }
}

.address__addres-list:not(:last-child) {
  margin-bottom: 9px;
}

.address__address-map {
  line-height: 1.1428;
  font-style: normal;
  text-decoration: none;
  color: var(--white-color);
}
.address__address-map:hover, .address__address-map:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .address__address-map {
    line-height: 1.7142;
  }
}

.address__address-mail,
.address__address-tel {
  line-height: 1.1428;
  color: var(--black-opacity-color);
  text-decoration: none;
  font-style: normal;
}
.address__address-mail:hover, .address__address-mail:focus,
.address__address-tel:hover,
.address__address-tel:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .address__address-mail,
  .address__address-tel {
    line-height: 1.7142;
  }
}

.social-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .social-block {
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
  }
}

.social-block__social-footer {
  display: block;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.1428;
  text-transform: uppercase;
}

.social-footer-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-footer-list__footer-item {
  width: 44px;
  height: 44px;
}

.social-footer-list__footer-link {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--time) var(--timing-function), color var(--time) var(--timing-function);
}
.social-footer-list__footer-link:hover, .social-footer-list__footer-link:focus {
  background-color: var(--accent-color);
}

.social-footer-list__footer-icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .social-input {
    margin-left: auto;
  }
}

.social-input__social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--white-color);
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.1428;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .social-input__social-footer {
    display: block;
    align-items: center;
    justify-content: center;
  }
}

.input-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .input-flex {
    flex-direction: row;
    align-items: baseline;
  }
}

.footer-form__footer-input {
  width: 280px;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-form__footer-input:hover, .footer-form__footer-input:focus {
  outline: 0;
  outline-offset: 0;
}
@media screen and (min-width: 768px) {
  .footer-form__footer-input {
    width: 358px;
  }
}

.footer-form__btn-footer {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-left: 12px;
  padding-left: 28px;
  padding-right: 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.footer-form__btn-footer:hover, .footer-form__btn-footer:focus {
  background: var(--background-active-button);
}

.footer-form__icone-btn-footer {
  fill: var(--white-color);
}

.portfolio-list {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn-filter {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 50px;
}

.btn-filter__list-btn:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.btn-filter__btn-active {
  padding: 6px 22px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: var(--background-grey-color);
  border-radius: 4px;
  transition: background-color var(--time) var(--timing-function), color var(--time) var(--timing-function), box-shadow var(--time) var(--timing-function);
}
.btn-filter__btn-active:hover, .btn-filter__btn-active:focus {
  color: var(--white-color);
  background: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-list__projects-box > .projects-list__projects-link {
  max-width: 100%;
  display: block;
}
.projects-list__projects-box > .projects-list__projects-link:hover, .projects-list__projects-box > .projects-list__projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list__projects-link {
  transition: box-shadow var(--time) var(--timing-function), border-box var(--time) var(--timing-function);
}

.projects-image {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}

.projects-image__projects-focus {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms linear;
  overflow: auto;
}
.projects-list__projects-box:hover .projects-image__projects-focus {
  transform: translateY(0);
  transition: transform 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.image-tehno {
  background-image: url(../images/texno.jpg);
}

.image-poster {
  background-image: url(../images/posters.jpg);
}

.image-seafood {
  background-image: url(../images/seafood.jpg);
}

.image-prime {
  background-image: url(../images/project-prime.jpg);
}

.image-boxes {
  background-image: url(../images/boxes.jpg);
}

.image-inspiration {
  background-image: url(../images/inspiration.jpg);
}

.image-limited {
  background-image: url(../images/limited.jpg);
}

.image-lab {
  background-image: url(../images/lab.jpg);
}

.image-groving {
  background-image: url(../images/growing.jpg);
}

.projects-border {
  padding: 20px 24px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.projects-border__projects-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.projects-border__projects-text {
  font-size: 16px;
  line-height: 1.875;
  color: var(--primary-text-color);
}/*# sourceMappingURL=main.css.map */