.logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  color: var(--black-color);
  @include font(null, 26px, 1.1923, null);
  text-decoration: none;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
}