body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
  color: var(--primary-text-color);
  @include font(null, 14px, null, 0.03em);
}

/* .main-nav {
  display: flex;
  align-items: center;
justify-content: space-around;
} */

.list {
  list-style: none;
  text-decoration: none;
}